@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,600;8..144,800&display=swap');

:root {
	/* todo font sizes */

	/* Stolen from the Hetzner Cloud Console */
    --color-primary--hover: 	  #ed0d32;
    --color-text: 				  #ededed;
    --color-text--disabled: 	  #8a8a8a;
    --color-back-link--hover:	  #a8a8a8;
    --color-background--layer-0:  #141414;
    --color-background--layer-10: #262626;
    --color-background--layer-20: #2b2b2b;
    --color-background--layer-30: #303030;
    --color-background--layer-40: #383838;

	--color-background--layer-50: #000000d2;
	--color-primary--success:	  #1dd144;
	--color-accent--border: 	  #505050;

	--sidebar-width:              80px;
	--image-width--border:        4px;

	--checkbox--border: 		  4px;

	--transition-short:           .3s;
	--transition-middle:          .5s;
	--transition-long:            .7s;

	--font-size--text:            20px;
	--font-size--subscript:       18px;
	--font-size--heading:         50px;
	--font-size--heading-section: 40px;
	--font-size--content:         25px;
	--font-size--content-large:   30px;
}

h1,
h2 {
	font-weight: 600;
	margin: 0;
}

strong {
	font-weight: 800;
}

html {
	overflow-x: hidden;
	font-family: Roboto Flex, sans-serif;
	font-weight: 600;
	background: var(--color-background--layer-0);
	color: var(--color-text);
	font-size: var(--font-size--text);
	scroll-behavior: smooth;
}

body {
	margin: 0px;
}

.noHover {
	pointer-events: none;
}

textarea,
input[type=datetime-local],
input[type=text],
input[type=number],
input[type=password] {
	color: inherit;
	font-size: var(--font-size--subscript);
	width: 200px;
	background-color: var(--color-background--layer-10);
	border: 2px solid var(--color-background--layer-0);
	padding: 3px 10px;
	height: 100%;
}

textarea:focus,
input:focus {
	outline: none;
	border-color: var(--color-primary--hover);
}

a:visited,
a:active,
a {
	text-decoration: none;
	color: inherit
}

.red {
	color: var(--color-primary--hover);
}

.green {
	color: var(--color-primary--success)
}

.no-select {
	/* https://stackoverflow.com/a/4407335 */
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}